<div class="confirmation-page">
  <div class="confirmation-text">
    <h1>Your Angel is confirmed</h1>
    <%# <div class="card-trip confirmation-card"> %>
      <%# <div class="card-trip-infos"> %>
          <div class= "image-confirmation">
            <%= cl_image_tag @booking.place.photo.key, crop: :fill %>
          </div>
          <h2> <%= @booking.place.name %></h2>
          <h5>Booked for <%= @booking.date %></h5>
          <h5>The details you provided us with: <%= @booking.details %></h5>
          <%= link_to "Back", "/profile/", class: "myButton d-flex justify-content-center" %>
      </div>
    </div>

</div>
