<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/places", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>




  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "/places", class: "navbar-icons" do %>
          <%= image_tag "https://img.icons8.com/ios-filled/344/phone.png" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%# <%= link_to "/places", class: "navbar-icons" do %>
          <a href="tel:07385024877" class="navbar-icons">
          <%= image_tag "https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/344/external-emergency-alert-icongeek26-linear-colour-icongeek26.png" %>
          </a>
          <%# <% end %>
        </li>
        <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/profile">Profile</a>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
