<div class= "homepage_wrapper">
  <div class="homepage-text">
<h1>You have been checked in!</h1>
</div>

<%= form_with url:send_message_path do |f| %>
  <%= f.submit "Check on me!", id:"checkme-pulse-button" %>
  <% end %>

  <%= form_with url:send_call_path do |f| %>
  <%= f.submit "Call me!", id:"callme-pulse-button" %>
  <% end %>

  <%# <div id="finish">
    <%# <button class="uk-button uk-button-default uk-button-large" id="finish" href="#">Date is finished</button> %>
    <%# <%= link_to "", "/places", class: "button" %>
    <%# <%= link_to "Date is finished", places_path, class:"uk-button uk-button-default uk-button-large" %>
<%# </div> %>
<div id="finish">
<%= link_to places_path do %>
  <p class="uk-button uk-button-default uk-button-large"><b>Date is finished</b></p>
<% end %>
</div>
