<%# <div> %>
<%# <div class="_9lg3vp" style="padding-left: 100px; padding-right: 100px; background: rgb(255, 56, 92);"><div class="_fdjl0db"><h1 class="_otc65q"><div class="_goqbqk" style="--ehl-justify-content:center; --ehl-text-align:center; --ehl-padding-bottom:24px;"><span class="_expepa" style="--tl-color:white; --tl-font-size:32px; --tl-font-weight:600; --tl-letter-spacing:-0.02em; --tl-line-height:36px;">You're checked in!</span></div> %>
<div class= "homepage_wrapper">
  <div class="homepage-text">
<h1>You're checked in!</h1>
</div>
    <%# <i class="fa-duotone fa-angel"></i>

<div class="container">
<%# <a class="btn btn-ghost" id="checkin" href="#">Check in on me</a> %>
<%# <%= link_to "Check in on me", place_path(@path), class: "btn btn-ghost" %>
 <%# </div>
<div class="container"> %>
<%# <a class="btn btn-ghost" id="call-me" href="#">Call me</a> %>
<%# <a href="tel:5554280940">Call me</a> %>
<%# <%= link_to "Call me", place_path(@path), class: "btn btn-ghost" %>
<%# </div>
<div class="container"> %>
<p uk-margin>
    <button class="uk-button uk-button-default uk-button-large" id="finished" href="#">Date is finished</button>
    <%# <button class="uk-button uk-button-primary uk-button-large">Large button</button>
    <button class="uk-button uk-button-secondary uk-button-large">Large button</button> %>
</p>
<%# <a class="btn btn-ghost" id="finished" href="#">Date is finished</a> %>
<%# <%= link_to "Review your date", "/places", class: "button" %>
<%# <%= link_to "Date is finished", place_path(@path), class: "btn btn-ghost" %>
<%# <div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Great!</strong> 🎉 a member of staff will be with your shortly.</span>
  <a data-bs-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div> %>

<%= form_with url:send_message_path do |f| %>
  <%= f.submit "Check in on me", id:"checkin" %>
  <% end %>

  <%= form_with url:send_call_path do |f| %>
  <%= f.submit "Call me", id:"callme" %>
  <% end %>

