<div class="bookings">
   <h3 class="sub-heading">YOUR INFORMATION</h3>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card-trip">
            <div class="card-trip-infos">
              <div>
                <h4><b>Your name:</b> Renee Godyn</h4>
                <h4><b>Your phone number:</b> +447385371662</h4>
                <h4><b>Your e-mail address:</b> renee.godyn@gmail.com</h4>
              </div>
                <%= link_to "Edit?", "/checkin", class: "myButton" %>
            </div>
          </div>
        </div>
      </div>
    </div>
   <h3 class="sub-heading">YOUR BOOKINGS</h3>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <% @bookings.each do |booking|%>
          <div class="card-trip">
              <%# <img src="https://www.tate.org.uk/sites/default/files/styles/width-720/public/images/people-on-the-millennium-br_0.jpg"> %>
              <div class="card-trip-infos">
                <div>
                <h4>You booked an angel for your date at <%= booking.place.name %></h4>
                  <h5>Booked for <%= booking.date %></h5>
                </div>
                  <%= link_to "Summary", "/bookings/#{booking.id}", class: "myButton" %>
                  <%= link_to "Check-in", "/checkin", class: "myButton" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
   </div>
