
<div class= "homepage_wrapper">
  <div class="homepage-text">
    <%# <h1>PICK A DATE</h1> %>
    <h1>Welcome Renée</h1>
    <p>Book your Angel today</p>
      <div class="front-page">
        <%# <%= video_tag "#insertvideo", class: "home_video" %>
        <%= image_tag "https://targettiles.co.uk/wp-content/uploads/2019/09/products-sku4756_810.jpg.webp" %>
      </div>
  </div>
  <div class= "white_box">
    <div class="front-page">
      <%# <%= video_tag "#insertvideo", class: "home_video" %>
    </div>
    <div class="container">
      <div class="container">
        <div class="card-trip">
            <% if @booking %>
             <div class="card-trip-infos-2">
              <h4> You have an upcoming Angel booking at <b><%= @booking.place.name %>.</b> </h4>
              <div class="d-flex justify-content-between">
              <h4 class="mt-2"><%= @booking.date %></h4>
              <button class="button-checkin-2" id="Check-in" href="/checkin"><b>Check in</b></button>
              </div>
              </div>
            <% end %>
        </div>
        <h3 class="text-center" id= "para1" >Find your Angel</h3>
        <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        </div>
      </div>
        <div class="card-trip">
        <div class="card-trip-infos">
        <ul class="list-group">
          <% @places.each do |place| %>
              <% if place.photo.attached? %>
               <%= link_to place_path(place) do %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path place.photo.key, crop: :fill %>)">
                 <%= place.name %>
               </div>
              <% end %>
                <% else %>
                <%# <img src="https://res.cloudinary.com/dfljjticx/image/upload/v1644669676/pizzaeast_j438iw.jpg" style="height: 100%; width: 100%;"  > %>
              <%# <p> </p> %>
              <%= link_to place_path(place) do %>
               <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dfljjticx/image/upload/v1644669676/pizzaeast_j438iw.jpg')">
                <%= place.name %>
               </div>
              <% end %>
              <% end %>
              <p class="mb-4"><%= place.description %></p>

            <%# <h2 class="card-trip-pricing">Top ranking</h2> %>
        <% end %>
      </ul>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
